.bar {
  width: 8px;
  height: 400px;
  border-radius: 5px;
  background-color: #c9d6df;
  margin: 0 2px;
  transition: all 0.1s ease-in-out;
}
.bar.swapping {
  background-color: #b32369;
}
.rectangle {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(238, 130, 238, 1) 100%
  );
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
